<div class="row">
  <div class="col-md-6">
    <h3>Day 1: The Unix Shell, Version Control with Git</h3>
    <table class="table table-striped">
      <tr> <td>Before</td> <td><a href="{{ site.pre_survey }}{{ site.github.project_title }}" target="_blank" rel="noopener noreferrer">Pre-workshop survey</a> </td> </tr>
      <tr> <td>08:00</td>  <td>Shell: Introduction, Navigating and Working with Files and Directories</td> </tr> <!-- Episodes 1-3 -->
      <tr> <td>09:30</td>  <td>Morning break</td> </tr>
      <tr> <td>09:45</td>  <td>Shell: Pipes, Filters, Loops</td> </tr> <!-- Episodes 4-5 -->
      <tr> <td>11:15</td>  <td>Lunch break</td> </tr>
      <tr> <td>12:15</td>  <td>Shell: Scripts, Finding Things</td> </tr> <!-- Episodes 6-7 -->
      <tr> <td>13:45</td>  <td>Afternoon break</td> </tr>
      <tr> <td>14:00</td>  <td>Git: Version Control, Setup, Creating Repositories, Tracking Changes and History, Ignoring Things, Remotes</td> </tr> <!-- Episodes 1-7 -->
      <tr> <td>15:40</td>  <td>Afternoon break</td> </tr>      
      <tr> <td>15:55</td>  <td>Git: Collaborating, Conflicts, Open Science, Licensing, Citation, Hosting</td> </tr> <!-- Episodes 8-13 -->
      <tr> <td>17:00</td>  <td>Wrap-up</td> </tr>
      <tr> <td>17:10</td>  <td>END</td> </tr>
    </table>
  </div>
  <div class="col-md-6">
    <h3>Day 2: Programming with Python</h3>
    <table class="table table-striped">
      <tr> <td>08:00</td>  <td>Fundamentals, Analyzing Data</td> </tr>
      <tr> <td>10:00</td>  <td>Morning break</td> </tr>
      <tr> <td>10:15</td>  <td>Loops, Lists, Analyzing Data in Multiple Files</td> </tr>
      <tr> <td>11:50</td>  <td>Lunch break</td> </tr>
      <tr> <td>12:50</td>  <td>Making Choices, Creating Functions, Errors and Exceptions</td> </tr>
      <tr> <td>14:20</td>  <td>Afternoon break</td> </tr>
      <tr> <td>14:35</td>  <td>Defensive Programming, Debugging, Command-Line Programs</td> </tr>
      <tr> <td>16:35</td>  <td>Wrap-up</td> </tr>
      <tr> <td>16:35</td>  <td><a href="https://carpentries.typeform.com/to/UgVdRQ?slug=2020-01-16-tntech" target="_blank">Post-workshop Survey</a></td> </tr>
      <tr> <td>16:40</td>  <td>END</td> </tr>
    </table>
  </div>
</div>
